##### list and tuple-> list [],tuple () or no brackets
##### list is mutable and tuple is immutable

#### Tuple

In [1]:
sample_tuple=(1,3,5,7,2.6,"hello")
sample_tuple

(1, 3, 5, 7, 2.6, 'hello')

##### Tuple is heterogenous->allow multiple data types

In [2]:
sample_tuple1=1,3,5,7,2.6,"hello"
sample_tuple1

(1, 3, 5, 7, 2.6, 'hello')

In [3]:
tup2=("Latha",16,76.4,[78,24,16.9,"hi"],1,2,3)
tup2

('Latha', 16, 76.4, [78, 24, 16.9, 'hi'], 1, 2, 3)

In [4]:
### No of elements
len(sample_tuple1)

6

In [5]:
len(tup2)

7

In [6]:
tup2.count(1)

1

In [7]:
tup2[0]

'Latha'

In [8]:
tup2[0:3]

('Latha', 16, 76.4)

In [10]:
tup2[3][0]

78

In [11]:
tup2[0]="Python"

TypeError: 'tuple' object does not support item assignment

##### Tuple is immutable

In [12]:
tup2[3][0]=100

In [13]:
tup2

('Latha', 16, 76.4, [100, 24, 16.9, 'hi'], 1, 2, 3)

In [14]:
tup3=("latha",16,[1,2,3,(25,78,17)],27,18.8)

In [15]:
tup3

('latha', 16, [1, 2, 3, (25, 78, 17)], 27, 18.8)

In [16]:
tup3[2][3][0]

25

In [17]:
tup3[2][3][0]=26

TypeError: 'tuple' object does not support item assignment

In [18]:
tup2.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [19]:
tup2.index(16)

1

In [20]:
tup2.remove(16)

AttributeError: 'tuple' object has no attribute 'remove'

In [21]:
tup2.add(15)

AttributeError: 'tuple' object has no attribute 'add'

In [22]:
tup=tup3+tup2
tup

('latha',
 16,
 [1, 2, 3, (25, 78, 17)],
 27,
 18.8,
 'Latha',
 16,
 76.4,
 [100, 24, 16.9, 'hi'],
 1,
 2,
 3)

In [23]:
for i in tup2:
    print(i)

Latha
16
76.4
[100, 24, 16.9, 'hi']
1
2
3

In [24]:
if 16 in tup2:
    print("There is 16 in tuple")

There is 16 in tuple

In [25]:
if 4 in tup2:
    print("There is 4 in tuple")

In [26]:
if 4 in tup2:
    print("There is 4 in tuple")
else:
    print("4 is not there in tuple")

4 is not there in tuple

In [27]:
#### Convert tuple into list

list_sample=list(tup2)
list_sample

['Latha', 16, 76.4, [100, 24, 16.9, 'hi'], 1, 2, 3]

In [28]:
type(list_sample)

list

##### Try: Create a list and covert into tuple

##### Try: Create an empty list
##### Try: Create an empty tuple

#### Dictionary

##### {}
##### Key,value pair data structure

In [29]:
student={"name":"john","age":18,"course":["Math"]}
student

{'name': 'john', 'age': 18, 'course': ['Math']}

In [31]:
student.keys()

dict_keys(['name', 'age', 'course'])

In [32]:
student.values()

dict_values(['john', 18, ['Math']])

In [33]:
student.items()

dict_items([('name', 'john'), ('age', 18), ('course', ['Math'])])

In [34]:
student1={"name":"john","age":18,"courses":["Math","Physics"]}
student1

{'name': 'john', 'age': 18, 'courses': ['Math', 'Physics']}

In [35]:
student={"name":"john","age":18,["course","designation"]:["Math"]}
student

TypeError: unhashable type: 'list'

In [36]:
student={"name":"john","age":18,"course":["Math"],"name":"gdhdghs"}
student

{'name': 'gdhdghs', 'age': 18, 'course': ['Math']}

In [38]:
student={"name":"john","age":18,"course":["Math"],"first_name":"john"}
student

{'name': 'john', 'age': 18, 'course': ['Math'], 'first_name': 'john'}

##### Key is unique but the values can be duplicated

In [43]:
employees={"manager":2,3:[56,12.7,"king"],"queen":(34,56,91.8,True),"prince":{1:"apple",2:"orange",2:17,19:"apple"}}
employees

{'manager': 2,
 3: [56, 12.7, 'king'],
 'queen': (34, 56, 91.8, True),
 'prince': {1: 'apple', 2: 17, 19: 'apple'}}

In [44]:
student

{'name': 'john', 'age': 18, 'course': ['Math'], 'first_name': 'john'}

In [45]:
student[2]

KeyError: 2

In [46]:
student["course"]

['Math']

##### cannot access using index only with key

In [47]:
student["email"]="john@example.com"

In [48]:
student

{'name': 'john',
 'age': 18,
 'course': ['Math'],
 'first_name': 'john',
 'email': 'john@example.com'}

In [49]:
student["age"]=21

In [50]:
student

{'name': 'john',
 'age': 21,
 'course': ['Math'],
 'first_name': 'john',
 'email': 'john@example.com'}

In [51]:
student.update({"phone":12345678,"courses":["chemistry","biology"]})

In [52]:
student

{'name': 'john',
 'age': 21,
 'course': ['Math'],
 'first_name': 'john',
 'email': 'john@example.com',
 'phone': 12345678,
 'courses': ['chemistry', 'biology']}

In [55]:
del student["email"]

In [56]:
student

{'name': 'john',
 'age': 21,
 'course': ['Math'],
 'first_name': 'john',
 'courses': ['chemistry', 'biology']}

In [57]:
student.pop("age")

21

In [58]:
student

{'name': 'john',
 'course': ['Math'],
 'first_name': 'john',
 'courses': ['chemistry', 'biology']}

In [59]:
student.popitem()

('courses', ['chemistry', 'biology'])

In [60]:
student

{'name': 'john', 'course': ['Math'], 'first_name': 'john'}

##### Create an empty dictionary

#### Set

In [ ]:
##### {}

In [61]:
myset={1,2,3,4,5,6}
myset

{1, 2, 3, 4, 5, 6}

In [63]:
myset1={1,15.9,True,"python"}
myset1

{1, 15.9, 'python'}

In [65]:
myset2={0,15.9,False,"python"}
myset2

{0, 15.9, 'python'}

In [66]:
myset2={2,15.9,False,"python"}
myset2

{15.9, 2, False, 'python'}

In [64]:
myset1={2,15.9,True,"python"}
myset1

{15.9, 2, True, 'python'}

In [67]:
myset3={1,2,2,79.4,229,19.4,37,3.2,20000,"Python","python","csv","json","Rabbit"}
myset3

{1,
 19.4,
 2,
 20000,
 229,
 3.2,
 37,
 79.4,
 'Python',
 'Rabbit',
 'csv',
 'json',
 'python'}

##### Set allows unique values
##### Sorted according to the order(first digits)

### explore with list,tuple ,dictionary-> allows tuple,doesn't allow list or dictionary or set

In [68]:
myset3[0]

TypeError: 'set' object is not subscriptable

In [70]:
myset3.append(5)

AttributeError: 'set' object has no attribute 'append'

In [71]:
myset3.add(5)

In [72]:
myset3

{1,
 19.4,
 2,
 20000,
 229,
 3.2,
 37,
 5,
 79.4,
 'Python',
 'Rabbit',
 'csv',
 'json',
 'python'}

In [73]:
myset3.remove("json")

In [74]:
myset3

{1, 19.4, 2, 20000, 229, 3.2, 37, 5, 79.4, 'Python', 'Rabbit', 'csv', 'python'}

In [75]:
len(myset3)

13

In [76]:
myset3.count(1)

AttributeError: 'set' object has no attribute 'count'

In [77]:
fruits={"Apple","Orange","Banana","Tomato"}
veg={"carrot","Mango","Tomato"}

In [78]:
fruits.difference(veg)

{'Apple', 'Banana', 'Orange'}

In [79]:
fruits.intersection(veg)

{'Tomato'}

##### Explore for union
##### for loop
##### whether Tomato is in fruits(if-else)

#### Conditional Statements

In [80]:
### Check whether the number is positive
num=5

if num>0:
    print(num,"is positive")

5 is positive

In [81]:
num=-5

if num>0:
    print(num,"is positive")

In [82]:
num=0

if num>0:
    print(num,"is positive")

In [86]:
num=1900

if num>0:
    print(num,"is positive")
else:
    print(num,"is negative")

1900 is positive

In [95]:
num=10.5

if num>0:
    print(num,"is positive")
elif num ==0:
    print(num,"is equal to zero")
else:
    print(num,"is negative")

10.5 is positive

In [119]:
#### Check whether the gn number is odd or even:
num=14567892
if num % 2 ==0:
    print(num,"is even")
else:
    print("odd")

14567892 is even

In [122]:
num=round(11.513678)
if num % 2 ==0:
    print(num,"is even")
elif num == 0:
    print("zero")
else:
    print("odd")

12 is even

In [130]:
age=20
if age<=3:
    print("No Fare for under the age 3")
elif age<=10:
    print("The Fare will be Rs.20")
elif age<=20:
    print("The Fare will be Rs.25")
else:
    print("The Fare will be Rs.30")

The Fare will be Rs.25

#### Explore-> Grade Categorizer

In [132]:
num=15

if num >0 and num <=100 and num%2 ==0:
    print("valid even number in range 1-100")
else:
    print("invalid")

invalid

In [136]:
a=100
b=100

if a>b:
    print("a is greater than b")
elif a==b:
    print("a is equal to b")
else:
    print("b is greater than a")

a is equal to b

In [142]:
num1=40
num2=12
num3=300
if num1>num2 and num1>num3:
    print("num1 is greater")
elif num2>num1 and num2>num3:
    print("num2 is greater")
else:
    print("num3 is greater")

num3 is greater

In [145]:
char="n"

if char in "AEIOUaeiou":
    print("The char is a vowel")
else:
    print("the char is not a vowel")

the char is not a vowel

In [150]:
username="admin"
password="secret123"

username="admin"
password="secrt123"
if username!="admin":
    print("Invalid username")
elif password!="secret123":
    print("Wrong password"); 
else:
    print("login succeesful")

Wrong password

##### Loops

In [151]:
### Print numbers from 1 to 5

for i in range(1,6):
    print(i)

1
2
3
4
5

In [152]:
for i in range(1,6,2):
    print(i)

1
3
5

In [153]:
for i in range(2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [154]:
for i in range(1,101):
    if i % 2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [155]:
for i in range(1,6):
    print(i**2) #i*i

1
4
9
16
25

In [157]:
### sum of n natural numbers

sum=0
for i in range(1,11):
    sum=sum + i
print(sum)

55

In [158]:
sum=0
for i in range(1,11):
    sum+= i
print(sum)

55

In [159]:
sum=0
for i in range(2,11,2):
    sum=sum+i
sum

30

In [160]:
sum=0
for i in range(1,11):
    if i%2==0:
        sum+=i
print(sum)

30

In [161]:
fruits=["apple","banana","cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [162]:
word="Python"
for char in word:
    print(char)

P
y
t
h
o
n

In [165]:
word="Python"
for char in word:
    print(char,end="               ")

P               y               t               h               o               n

In [166]:
for i in range(5):
    if i==3:
        print("Breaking at",i)
        break
    print(i)

0
1
2
Breaking at 3

In [167]:
for i in range(5):
    if i==3:
       break
    print(i)

0
1
2

In [168]:
for i in range(5):
    if i==3:
       continue
    print(i)

0
1
2
4

In [169]:
student={"name":"Tom","age":46,"skill":"AI"}

In [171]:
for key,value in student.items():
    print(key,":",value)

name : Tom
age : 46
skill : AI

#### While

In [172]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [173]:
count=1

while count<=5:
    print(count)
    count+=1

1
2
3
4
5

In [175]:
count=5

while count>=1:
    print(count)
    count-=1

5
4
3
2
1

In [176]:
count=0

while count<5:
    print("hello")
    count+=1

hello
hello
hello
hello
hello

In [177]:
text="knowledge"

for char in text:
    print(char)
    if char=="d":
        break

k
n
o
w
l
e
d

In [179]:
text='knowledge'

i=0

while i<=len(text):
    print(text[i])   
    if text[i]=='d':                
        break
    i+=1

k
n
o
w
l
e
d

#### List comprehension

In [180]:
### square of numbers from 1 to 10
for i in range(1,11):
    print(i*i)

1
4
9
16
25
36
49
64
81
100

syntax-> output expression,for loop,condnal expression(optional)

In [182]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [183]:
price=[7,18,21,6.9,5.2,60]
for i in price:
    print(i*2)

14
36
42
13.8
10.4
120

In [184]:
[i*2 for i in price ]

[14, 36, 42, 13.8, 10.4, 120]

In [185]:
sentence="NLP is little complicated but sounds interesting and it is the basic to understand generative ai"
sentence

'NLP is little complicated but sounds interesting and it is the basic to understand generative ai'

In [186]:
[i for i in sentence if i in "aeiouAEIOU"]

['i',
 'i',
 'e',
 'o',
 'i',
 'a',
 'e',
 'u',
 'o',
 'u',
 'i',
 'e',
 'e',
 'i',
 'a',
 'i',
 'i',
 'e',
 'a',
 'i',
 'o',
 'u',
 'e',
 'a',
 'e',
 'e',
 'a',
 'i',
 'e',
 'a',
 'i']

In [187]:
numbers=[1,2,4,5,9,21,67,18,19]
[i for i in numbers if i %2==0]

[2, 4, 18]

In [188]:
list1=["apple","Banana","Grapes","lemon","Oranges"]
[i for i in list1 if len(i) <=5]

['apple', 'lemon']

In [189]:
products=["apparel","cosmetics","detergents","groceries"]

[10 if p=="apparel" else 15 if p=="groceries" else 20 for p in products]

[10, 20, 20, 15]

In [190]:
### greatest among two numbers 
a=10
b=15
[a if a>b else b]

[15]

In [194]:
a=100
b=24
c=1600
[a if a > b and a >c else b if b >a and b > c else c]

[1600]