In [5]:
### Modules and Packages

Numpy -> Numerical Python(Numerical calculation)

Pandas-> Data Loading/Data Manipulation(Sql/Pyspark)

Matplotlib -> Data Visualization tool (PowerBI)

Seaborn -> Data Visualization tool(PowerBI)

### Numpy ->Numerical Python

In [8]:
import numpy as np

In [10]:
arr=np.array([1,2,3,4])
arr

array([1, 2, 3, 4])

In [11]:
np.arange(1,11)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [12]:
np.arange(1,11,2)

array([1, 3, 5, 7, 9])

In [13]:
np.arange(6)

array([0, 1, 2, 3, 4, 5])

In [14]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [15]:
np.zeros(10,int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [16]:
np.ones(10)

array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.])

In [17]:
np.ones(10,int)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [20]:
np.ones((2,4),int)

array([[1, 1, 1, 1],
       [1, 1, 1, 1]])

In [23]:
np.eye(5,dtype=int)

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

In [24]:
np.random.rand(3,5)

array([[0.03899218, 0.59855416, 0.7038904 , 0.2219336 , 0.43479307],
       [0.66527861, 0.68883362, 0.8738445 , 0.2550237 , 0.01379867],
       [0.39431072, 0.96648377, 0.83646788, 0.60591643, 0.64014333]])

In [27]:
np.random.randn(3,5)

array([[-0.34924472, -0.17566674,  1.26638792,  0.59860526,  0.77852008],
       [ 0.29633157, -0.50546512, -1.66294585,  0.83901409, -0.83355527],
       [-1.04808857, -1.09869406,  1.54547084, -0.4834955 ,  0.67739169]])

In [36]:
np.random.randint(3,10)

3

In [37]:
np.random.randint(13,10)

ValueError: low >= high

In [38]:
np.random.randint(3,10,25)

array([3, 5, 5, 6, 6, 5, 9, 7, 6, 3, 7, 8, 9, 9, 3, 4, 8, 5, 4, 6, 5, 9,
       4, 8, 9], dtype=int32)

### create an array sample_array-> 0,1,...29
### create an array rand_array of integers(50 int)-> 0 to 9

In [39]:
sample_array=np.arange(30)

In [40]:
sample_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [43]:
rand_array=np.random.randint(0,10,50)

In [44]:
rand_array

array([6, 2, 9, 9, 1, 0, 8, 0, 4, 4, 7, 1, 0, 3, 9, 0, 8, 0, 4, 5, 3, 6,
       3, 2, 3, 4, 9, 9, 2, 9, 6, 2, 8, 6, 7, 5, 4, 7, 4, 1, 0, 8, 5, 2,
       7, 0, 3, 2, 0, 4], dtype=int32)

In [45]:
sample_array.reshape(5,6)

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29]])

In [46]:
sample_array.reshape(3,4)

ValueError: cannot reshape array of size 30 into shape (3,4)

In [47]:
sample_array.max()

np.int64(29)

In [48]:
rand_array.max()

np.int32(9)

In [49]:
sample_array.min()

np.int64(0)

In [50]:
#### Create unit/identity matrix of dimernsion 3
a=np.eye(3)

In [51]:
a

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [52]:
a.T

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [53]:
b=np.random.rand(2,3)
b

array([[0.10237055, 0.0905234 , 0.93498165],
       [0.95031335, 0.23908935, 0.29702121]])

In [54]:
b.T

array([[0.10237055, 0.95031335],
       [0.0905234 , 0.23908935],
       [0.93498165, 0.29702121]])

In [55]:
sample_array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29])

In [56]:
sample_array[0]

np.int64(0)

In [57]:
sample_array[2:8]

array([2, 3, 4, 5, 6, 7])

In [58]:
sample_array[2:8]=100
sample_array

array([  0,   1, 100, 100, 100, 100, 100, 100,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29])

In [59]:
#### Change all the elements to 100 
sample_array[0:]=100

In [60]:
sample_array

array([100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100,
       100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100, 100,
       100, 100, 100, 100])

In [62]:
sample_matrix=np.array(([12,26,78,16],[78,25,17,17],[18,21,87,12]))
sample_matrix

array([[12, 26, 78, 16],
       [78, 25, 17, 17],
       [18, 21, 87, 12]])

In [65]:
sample_matrix[1]

array([78, 25, 17, 17])

In [66]:
sample_matrix[0][1]

np.int64(26)

In [67]:
sample_matrix[1][1:3]

array([25, 17])

In [68]:
sample_matrix[:,(3,2)]

array([[16, 78],
       [17, 17],
       [12, 87]])

In [69]:
sample_array=np.arange(10)

In [70]:
sample_array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [71]:
sample_array+sample_array

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [72]:
np.sqrt(sample_array)

array([0.        , 1.        , 1.41421356, 1.73205081, 2.        ,
       2.23606798, 2.44948974, 2.64575131, 2.82842712, 3.        ])

In [73]:
np.log(sample_array)

C:\Users\Premalatha\AppData\Local\Temp\ipykernel_29016\988743405.py:1: RuntimeWarning: divide by zero encountered in log
  np.log(sample_array)

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436,
       1.60943791, 1.79175947, 1.94591015, 2.07944154, 2.19722458])

In [74]:
np.exp(sample_array)

array([1.00000000e+00, 2.71828183e+00, 7.38905610e+00, 2.00855369e+01,
       5.45981500e+01, 1.48413159e+02, 4.03428793e+02, 1.09663316e+03,
       2.98095799e+03, 8.10308393e+03])

In [75]:
np.argmax(sample_array)

np.int64(9)

In [76]:
np.mean(sample_array)

np.float64(4.5)

In [77]:
import pandas as pd

In [78]:
sports=pd.Series([1,2,3,4],index=["cricket","football","basketball","golf"])
sports

cricket       1
football      2
basketball    3
golf          4
dtype: int64

In [80]:
sports["golf"]

np.int64(4)

In [82]:
sports1=pd.Series([11,12,13,14,15],index=["Cricket","fball","basketball","golf","hockey"])
sports1

Cricket       11
fball         12
basketball    13
golf          14
hockey        15
dtype: int64

In [83]:
sports+sports1

Cricket        NaN
basketball    16.0
cricket        NaN
fball          NaN
football       NaN
golf          18.0
hockey         NaN
dtype: float64

In [84]:
dict={"ID":[101,102,103,104,105],"Name":["Akash","Lala","Latha","Prince","Mercy"],"Marks":[10,20,30,40,50]}

In [85]:
df=pd.DataFrame(dict)
df

    ID    Name  Marks
0  101   Akash     10
1  102    Lala     20
2  103   Latha     30
3  104  Prince     40
4  105   Mercy     50

In [86]:
df["ID"]

0    101
1    102
2    103
3    104
4    105
Name: ID, dtype: int64

In [88]:
df[["Name","Marks"]]

     Name  Marks
0   Akash     10
1    Lala     20
2   Latha     30
3  Prince     40
4   Mercy     50

In [89]:
df1=pd.DataFrame(np.random.rand(8,5),index="A B C D E F G H".split(),columns="Score1 Score2 Score3 Score4 Score5".split())
df1

     Score1    Score2    Score3    Score4    Score5
A  0.283406  0.137331  0.793417  0.384415  0.572835
B  0.249547  0.565032  0.055647  0.701928  0.565489
C  0.063283  0.978374  0.776616  0.160034  0.867083
D  0.564124  0.450873  0.371563  0.242851  0.039682
E  0.885467  0.782829  0.074007  0.074023  0.238485
F  0.234528  0.995423  0.634725  0.370199  0.885453
G  0.968464  0.265095  0.330912  0.180955  0.960851
H  0.637701  0.734795  0.157226  0.157504  0.921289

In [90]:
df1[["Score1","Score2","Score3"]]

     Score1    Score2    Score3
A  0.283406  0.137331  0.793417
B  0.249547  0.565032  0.055647
C  0.063283  0.978374  0.776616
D  0.564124  0.450873  0.371563
E  0.885467  0.782829  0.074007
F  0.234528  0.995423  0.634725
G  0.968464  0.265095  0.330912
H  0.637701  0.734795  0.157226

In [92]:
df1["Score6"]=df1["Score1"]+df1["Score2"]
df1

     Score1    Score2    Score3    Score4    Score5    Score6
A  0.283406  0.137331  0.793417  0.384415  0.572835  0.420737
B  0.249547  0.565032  0.055647  0.701928  0.565489  0.814579
C  0.063283  0.978374  0.776616  0.160034  0.867083  1.041657
D  0.564124  0.450873  0.371563  0.242851  0.039682  1.014997
E  0.885467  0.782829  0.074007  0.074023  0.238485  1.668296
F  0.234528  0.995423  0.634725  0.370199  0.885453  1.229952
G  0.968464  0.265095  0.330912  0.180955  0.960851  1.233559
H  0.637701  0.734795  0.157226  0.157504  0.921289  1.372496

In [97]:
df1=df1.drop("Score6",axis=1)

In [98]:
df1

     Score1    Score2    Score3    Score4    Score5
A  0.283406  0.137331  0.793417  0.384415  0.572835
B  0.249547  0.565032  0.055647  0.701928  0.565489
C  0.063283  0.978374  0.776616  0.160034  0.867083
D  0.564124  0.450873  0.371563  0.242851  0.039682
E  0.885467  0.782829  0.074007  0.074023  0.238485
F  0.234528  0.995423  0.634725  0.370199  0.885453
G  0.968464  0.265095  0.330912  0.180955  0.960851
H  0.637701  0.734795  0.157226  0.157504  0.921289

In [99]:
json_df=df1.to_json()
json_df

'{"Score1":{"A":0.2834058982,"B":0.2495465727,"C":0.0632831524,"D":0.5641236926,"E":0.8854673502,"F":0.2345283698,"G":0.9684641761,"H":0.6377014673},"Score2":{"A":0.1373310587,"B":0.5650319629,"C":0.9783740026,"D":0.4508732462,"E":0.7828290554,"F":0.9954233049,"G":0.2650952158,"H":0.7347947785},"Score3":{"A":0.7934170107,"B":0.0556474602,"C":0.7766160983,"D":0.3715634386,"E":0.0740068266,"F":0.6347251279,"G":0.33091229,"H":0.1572260824},"Score4":{"A":0.3844145639,"B":0.7019282089,"C":0.1600339358,"D":0.24285106,"E":0.0740227607,"F":0.3701993766,"G":0.1809554027,"H":0.1575040135},"Score5":{"A":0.5728350766,"B":0.5654891625,"C":0.8670827314,"D":0.0396824638,"E":0.238485215,"F":0.8854533437,"G":0.9608513618,"H":0.9212891352}}'

In [100]:
df1.to_json("data.json")

#### Dataset Handling:

In [101]:
import numpy as np
import pandas as pd

In [102]:
df=pd.read_csv("CardioGoodFitness-1 (1).csv")

In [105]:
df=pd.read_csv("C:\\Users\\Premalatha\\Downloads\\CardioGoodFitness-1 (1).csv")

In [106]:
df.head()

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47

In [108]:
df.head(7)

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   TM195   18    Male         14        Single      3        4   29562    112
1   TM195   19    Male         15        Single      2        3   31836     75
2   TM195   19  Female         14     Partnered      4        3   30699     66
3   TM195   19    Male         12        Single      3        3   32973     85
4   TM195   20    Male         13     Partnered      4        2   35247     47
5   TM195   20  Female         14     Partnered      3        3   32973     66
6   TM195   21  Female         14     Partnered      3        3   35247     75

In [109]:
df.tail()

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
175,TM798,40,Male,21,Single,6,5,83416,200
176,TM798,42,Male,18,Single,5,4,89641,200
177,TM798,45,Male,16,Single,5,5,90886,160
178,TM798,47,Male,18,Partnered,4,5,104581,120
179,TM798,48,Male,18,Partnered,4,5,95508,180

In [111]:
df.sample(10)

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
69,TM195,38,Female,14,Partnered,2,3,54576,56
48,TM195,28,Male,14,Single,4,3,54576,113
147,TM798,24,Male,18,Partnered,4,5,57271,80
118,TM498,32,Male,16,Single,4,3,60261,127
125,TM498,34,Female,16,Partnered,4,3,64809,95
153,TM798,25,Male,18,Partnered,4,3,64741,100
57,TM195,32,Female,14,Single,3,4,46617,113
61,TM195,34,Male,16,Single,4,5,51165,169
143,TM798,23,Male,16,Single,4,5,58516,140
63,TM195,35,Male,16,Partnered,4,3,48891,85

In [112]:
df.dtypes

Product          object
Age               int64
Gender           object
Education         int64
MaritalStatus    object
Usage             int64
Fitness           int64
Income            int64
Miles             int64
dtype: object

In [113]:
df.describe()

,Age,Education,Usage,Fitness,Income,Miles
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,28.788889,15.572222,3.455556,3.311111,53719.577778,103.194444
std,6.943498,1.617055,1.084797,0.958869,16506.684226,51.863605
min,18.000000,12.000000,2.000000,1.000000,29562.000000,21.000000
25%,24.000000,14.000000,3.000000,3.000000,44058.750000,66.000000
50%,26.000000,16.000000,3.000000,3.000000,50596.500000,94.000000
75%,33.000000,16.000000,4.000000,4.000000,58668.000000,114.750000
max,50.000000,21.000000,7.000000,5.000000,104581.000000,360.000000

In [114]:
df.shape

(180, 9)

In [115]:
df.describe(include="all")

,Product,Age,Gender,Education,MaritalStatus,Usage,Fitness,Income,Miles
count,180,180.000000,180,180.000000,180,180.000000,180.000000,180.000000,180.000000
unique,3,NaN,2,NaN,2,NaN,NaN,NaN,NaN
top,TM195,NaN,Male,NaN,Partnered,NaN,NaN,NaN,NaN
freq,80,NaN,104,NaN,107,NaN,NaN,NaN,NaN
mean,NaN,28.788889,NaN,15.572222,NaN,3.455556,3.311111,53719.577778,103.194444
std,NaN,6.943498,NaN,1.617055,NaN,1.084797,0.958869,16506.684226,51.863605
min,NaN,18.000000,NaN,12.000000,NaN,2.000000,1.000000,29562.000000,21.000000
25%,NaN,24.000000,NaN,14.000000,NaN,3.000000,3.000000,44058.750000,66.000000
50%,NaN,26.000000,NaN,16.000000,NaN,3.000000,3.000000,50596.500000,94.000000
75%,NaN,33.000000,NaN,16.000000,NaN,4.000000,4.000000,58668.000000,114.750000
max,NaN,50.000000,NaN,21.000000,NaN,7.000000,5.000000,104581.000000,360.000000

In [116]:
import matplotlib.pyplot as plt
import seaborn as sns

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 195, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\Premalatha\anaconda3\Lib\asyncio\windows_events.py", line 321, in run_forever
    super().run_forever()
  File "C:\Users\Premalatha\anaconda3\Lib\asyncio\base_events.py", line 607, in run_forever
    self._run_once()
  File "C:\Users\Premalatha\anaconda3\Lib\asyncio\base_events.py", line 1922, in _run_once
    handle._run()
  File "C:\Users\Premalatha\anaconda3\Lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3051, in run_cell
    result = self._run_cell(
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3106, in _run_cell
    result = runner(coro)
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3311, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3493, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Premalatha\AppData\Local\Temp\ipykernel_29016\1025822078.py", line 1, in <module>
    import matplotlib.pyplot as plt
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\matplotlib\__init__.py", line 161, in <module>
    from . import _api, _version, cbook, _docstring, rcsetup
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\matplotlib\rcsetup.py", line 27, in <module>
    from matplotlib.colors import Colormap, is_color_like
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\matplotlib\colors.py", line 57, in <module>
    from matplotlib import _api, _cm, cbook, scale
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\matplotlib\scale.py", line 22, in <module>
    from matplotlib.ticker import (
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\matplotlib\ticker.py", line 143, in <module>
    from matplotlib import transforms as mtransforms
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\matplotlib\transforms.py", line 49, in <module>
    from matplotlib._path import (

AttributeError: _ARRAY_API not found

ImportError: numpy.core.multiarray failed to import

In [117]:
df.hist(figsize=(10,10))

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.2.2 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "<frozen runpy>", line 198, in _run_module_as_main
  File "<frozen runpy>", line 88, in _run_code
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel_launcher.py", line 17, in <module>
    app.launch_new_instance()
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\traitlets\config\application.py", line 992, in launch_instance
    app.start()
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel\kernelapp.py", line 701, in start
    self.io_loop.start()
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\tornado\platform\asyncio.py", line 195, in start
    self.asyncio_loop.run_forever()
  File "C:\Users\Premalatha\anaconda3\Lib\asyncio\windows_events.py", line 321, in run_forever
    super().run_forever()
  File "C:\Users\Premalatha\anaconda3\Lib\asyncio\base_events.py", line 607, in run_forever
    self._run_once()
  File "C:\Users\Premalatha\anaconda3\Lib\asyncio\base_events.py", line 1922, in _run_once
    handle._run()
  File "C:\Users\Premalatha\anaconda3\Lib\asyncio\events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 534, in dispatch_queue
    await self.process_one()
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 523, in process_one
    await dispatch(*args)
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 429, in dispatch_shell
    await result
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel\kernelbase.py", line 767, in execute_request
    reply_content = await reply_content
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel\ipkernel.py", line 429, in do_execute
    res = shell.run_cell(
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\ipykernel\zmqshell.py", line 549, in run_cell
    return super().run_cell(*args, **kwargs)
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3051, in run_cell
    result = self._run_cell(
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3106, in _run_cell
    result = runner(coro)
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\IPython\core\async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3311, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3493, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py", line 3553, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "C:\Users\Premalatha\AppData\Local\Temp\ipykernel_29016\450733766.py", line 1, in <module>
    df.hist(figsize=(10,10))
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\pandas\plotting\_core.py", line 250, in hist_frame
    plot_backend = _get_plot_backend(backend)
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\pandas\plotting\_core.py", line 1944, in _get_plot_backend
    module = _load_backend(backend_str)
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\pandas\plotting\_core.py", line 1872, in _load_backend
    module = importlib.import_module("pandas.plotting._matplotlib")
  File "C:\Users\Premalatha\anaconda3\Lib\importlib\__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\pandas\plotting\_matplotlib\__init__.py", line 5, in <module>
    from pandas.plotting._matplotlib.boxplot import (
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\pandas\plotting\_matplotlib\boxplot.py", line 10, in <module>
    from matplotlib.artist import setp
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\matplotlib\__init__.py", line 161, in <module>
    from . import _api, _version, cbook, _docstring, rcsetup
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\matplotlib\rcsetup.py", line 27, in <module>
    from matplotlib.colors import Colormap, is_color_like
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\matplotlib\colors.py", line 57, in <module>
    from matplotlib import _api, _cm, cbook, scale
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\matplotlib\scale.py", line 22, in <module>
    from matplotlib.ticker import (
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\matplotlib\ticker.py", line 143, in <module>
    from matplotlib import transforms as mtransforms
  File "C:\Users\Premalatha\anaconda3\Lib\site-packages\matplotlib\transforms.py", line 49, in <module>
    from matplotlib._path import (

AttributeError: _ARRAY_API not found

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.